<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="S4aTimeAgo Test Suite">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./Lib/</directory>
            <directory>./Twig/</directory>
        </whitelist>
    </filter>
</phpunit>
